/**
    * Basic Portfolio stylesheet
**/


* {
   box-sizing: border-box;
         
      }
/** 
    * body style
**/


#bodyId {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    background-color:black;
    border: #dddddd;
    font-size: 500%; 
    max-width: 960px; 
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
        }


/** 
    * Main header style
**/

#mainheader {
    background: #ffffff;
    border: #cccccc;  
    font-family: 'Georgia', 'Times New Roman', Times, serif;  
       }

/** 
     *  name style
**/

#name {background: #4aaaa5;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    float: left;
     }
#contactinfo {float: right;}
/** 
     * navigation bar style
**/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

li {
    float: right;
}

li a {
        display: block; 
        padding: 10px;
    }

/** 
   * main content style
**/
#maincontent {
    background: #ffffff;
    border: #dddddd;
     
}
/**
  * under header style
**/
#pagecontent {
    color: #4aaaa5;
    background: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 20px;
    clear: both; 
      }

#bio-image {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
}
/** 
line color 
**/
hr {
   background-color: #4aaaa5;
   margin-left: 20px;
   margin-right: 20px;
    }
/** 
    *paragraph style
**/
#para {
    position: relative;
    left: 10px;
    font-size: 16px;
    margin-right: 20px;
    line-height: 2;
    }

/** 
    * form style
**/
#formcontent {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
        }
input {
    width: 100%;
}

/** message box **/
textarea {
    height: 150px;
    width: 100%;
}

/**
    * submit button style
**/
button {
    background: #4aaaa5;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
/** 
      *picture styles
**/
#pictures {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 300px;
        }

#piccontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    max-height: 400px;
   
}
div#piccontainer figure {
    position: relative;
    width: 33.3%
    }

figcaption {
    position: absolute;
    bottom: 5px;
    background-color: #4aaaa5;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-left: 0px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

    
}

   
.viewportfolio  {
    border-color: #4CAF50;
  }



